a.navbar-brand[b-coa60aste9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-coa60aste9] {
  color: #4DA8DA;
}

.btn-primary[b-coa60aste9] {
  color: #fff;
  background-color: #4DA8DA;
  border-color: #4DA8DA;
}

.nav-pills .nav-link.active[b-coa60aste9],
.nav-pills .show>.nav-link[b-coa60aste9] {
  color: #fff;
  background-color: #4DA8DA;
  border-color: #4DA8DA;
}

.border-top[b-coa60aste9] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-coa60aste9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-coa60aste9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-coa60aste9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-coa60aste9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}